


/* Explore */
#explore h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17vmin;

    font-weight: 700;

    width: 100%;
    height: 100%;

    color: #fff;
}

#explore .container_text {

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    background-color:rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
}

#explore .container_image {

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;
    width: 100%;
    height: 100%;
}

#explore .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#explore .container_text {
    display: flex;

    flex-direction: column;
    align-items: center;

    height: 90%;

}

#explore img {
    width: 100%;
    height: 100%;
}

#explore .red {
    color: rgba(220, 0, 0);;
    margin-right: 4vmin;
}

/* about */
.about {
    background: #fff;
    color: #000;
    height: auto;
}

.about .container {
    background: #fff;
}

.about .red {
    color: rgba(220, 0, 0);;
    margin-right: 0.4vmin;
}

/* projects */
.projects {
    background: #fff;
    color: #000;
    height: auto;
}

.projects .container {
    flex-direction: column;
    background: #fff;
}

.projects .red {
    color: rgba(220, 0, 0);;
    margin-right: 0.4vmin;
}

/* cards */
.cards {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 22%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s all;
    margin: 1vmin;
}

.card:hover img {
    transform: scale(1.1);
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.2);
    color: #fff;
    z-index: 1;
}

.card_title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    padding: 2.5vmin 0;
    margin: auto;
}

.card_description {
    
}

.card img {
    width: 100%;
    transition: 0.7s all;
}

.card_link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    padding: 2.5vmin 0;
    margin: auto;
    align-items: flex-end;
    justify-content: space-between;
}


/* Mobile */
@media (min-width: 150px) and (max-width: 480px) {

    .cards {
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin-top: 10vmin;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
    .card {
        width: 90%;
        margin-top: 10vmin;
    }
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    .card {
        width: 40%;
        margin-top: 3vmin;
    }
	
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* TV */
@media (min-width: 1201px) {
	
}