.section {
	display: flex;
	flex-direction: column;
	height: 100vh;	
    overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	width: 60%;
	border-radius: 10px;
	margin: auto;
	padding: 10vmin;
	font-weight: 600;

    position: relative;
	
}

.container h1,
.container h2,
.container h3 {
    text-align: center;
    font-family: Rowdies, sans-serif;
    text-transform: uppercase;
}

.container h1 {
	font-size: 10vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container h2 {
    font-size: 7vmin;
	line-height: 12vmin;
}

.container p {
	line-height: 5vmin;
	font-size: 2.5vmin;
}

.container .red {
    color: rgba(220, 0, 0);
}

.container a svg {
	font-size: 4vmin;
}


.container_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block {
    display: flex;
    margin: 15px;
    padding: 10px;
}

.column { flex-direction: column; }
.wrap { flex-wrap: wrap; }
.center { text-align: center; }

/* Mobile */
@media (min-width: 150px) and (max-width: 480px) {
    .section {
        overflow-y: auto;
    }
	.container {
        width: 100%;
    }

    .container p {
        font-size: 6vmin;
        line-height: 9vmin;
    }

    .container_links {
        flex-direction: column;
    }

}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
	.section {
        overflow-y: auto;
    }
    .container {
        width: 90%;
    }
    .container p {
        font-size: 4.5vmin;
        line-height: 7vmin;
    }

    .container_links {
        flex-direction: column;
    }
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    .section {
        overflow-y: auto;
    }
	.container {
        width: 80%;
    }
    .container_links {
        flex-direction: column;
    }
	
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
    .section {
        overflow-y: auto;
    }
    .container {
        width: 80%;
    }
}

/* TV */
@media (min-width: 1201px) {
	
}